---
import Container from '@/components/ui/Container.astro'
import myCourses from '../../public/data/my-courses.json'
---

<Container>
    <section class="data">
        <h2>Cursos</h2>
        <ul>
            {
                myCourses.map(
                    ({title, institution, timeFrame, images}: Course) => {
                        return (
                            <li>
                                <div>
                                    <h3>
                                        {title}, {institution}
                                    </h3>
                                    {timeFrame ? (
                                        <span>
                                            {timeFrame.startDate} -
                                            {timeFrame.endDate}
                                        </span>
                                    ) : null}
                                    <div class="container-insignias">
                                        {images?.map(({title, src, href}) => (
                                            <a href={href} target="_blank">
                                                <img
                                                    src={src}
                                                    alt={title}
                                                    class="insignia"
                                                />
                                            </a>
                                        ))}
                                    </div>
                                </div>
                            </li>
                        )
                    }
                )
            }
        </ul>
    </section>
</Container>

<style>
    ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    li {
        div {
            margin-bottom: 5px;

            span {
                font-weight: 500;
                font-size: 0.9rem;
                color: #666;
            }
        }
    }
    .container-insignias {
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 10px;
    }
    .insignia {
        width: 100px;
    }
</style>
